<!doctype html>
<html>
  <head>
    <title>Cheap Sass Tricks</title>
    <style>
      body {
        font-family: sans-serif;
        font-weight: 100;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        padding: 20px;
      }
      h1 {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <h1>Cheap Sass Tricks</h1>
    <ul>
      <li><a href="/pbj">PBJ time</a></li>
      <li><a href="/lorenz">Lorenz Attractor</a></li>
      <li><a href="/radar">Sass Radar</a></li>
      <li><a href="/dots">Dots</a></li>
      <li><a href="/plus">Plus</a></li>
    </ul>
  </body>
</html>
