<!doctype html>
<html>
  <head>
    <title>Radar</title>
    <style>
      body {
        background: #e9469b;
      }
      h1 {
        color: white;
        font-family: Knockout, Impact, sans-serif;
        font-size: 200px;
        text-align: center;
        position: absolute;
        margin-top: -0.75em;
        line-height: 1;
        width: 100%;
        top: 50%;
        text-shadow: #c63b83 5px 5px 0;
      }
    </style>
  </head>
  <body>

    <h1>Cheap Sass Tricks</h1>

    <script src="/javascripts/keyboard.js"></script>
    <script src="/javascripts/navigation.js"></script>
  </body>
</html>
