// Variables
$pixel-size: 5px;

// Colors
$__: null;
$bk: #000;
$gn: #360;
$ly: #ff0;
$my: #cc0;
$dy: #990;
$rd: #f00;

// Frames - zoom out in your browser until you can see the full picture in the source code for easy editing
$frames:
  (
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $ly $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $ly $ly $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $bk $__ $__ $__ $bk $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $__ $__ $bk $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $bk $__ $__ $__ $bk $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $ly $ly $bk $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $bk $bk $bk $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $rd $rd $bk $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $rd $rd $rd $bk $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $rd $bk $bk $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $ly $ly $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $__ $__ $__ $bk $ly $ly $ly $ly $my $my $bk $bk $__ $bk $bk $bk $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $bk $bk $__ $bk $bk $ly $ly $ly $ly $my $my $bk $__ $bk $bk $__ $__ $bk $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $bk $ly $ly $ly $ly $my $my $bk $bk $__ $bk $__ $__ $__ $bk $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $bk $bk $__ $bk $ly $ly $ly $my $my $my $bk $__ $__ $bk $bk $__ $__ $bk $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $__ $bk $bk $ly $ly $my $my $my $bk $bk $__ $__ $gn $bk $bk $bk $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $bk $ly $ly $my $my $my $bk $bk $gn $__ $gn $gn $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $bk $bk $my $my $bk $bk $bk $__ $gn $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $gn $bk $bk $bk $bk $bk $gn $gn $gn $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $gn $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $bk $bk $__ $__ $__ $bk $bk $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $bk $__ $__ $__ $bk $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__
  ),
  (
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $ly $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $ly $ly $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $bk $__ $__ $__ $bk $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $__ $__ $bk $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $bk $__ $__ $__ $bk $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $ly $ly $bk $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $bk $bk $bk $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $rd $rd $bk $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $rd $rd $rd $bk $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $rd $bk $bk $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $ly $ly $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $ly $my $my $bk $__ $__ $__ $bk $bk $bk $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $bk $__ $__ $bk $bk $__ $__ $__ $__ $bk $ly $ly $ly $ly $my $my $bk $bk $__ $__ $bk $bk $__ $__ $bk $__ $__,
    $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $bk $bk $ly $ly $ly $ly $my $my $bk $__ $__ $__ $bk $__ $__ $__ $bk $__ $__,
    $__ $__ $__ $__ $__ $__ $bk $__ $__ $bk $bk $__ $__ $__ $bk $ly $ly $ly $ly $my $my $bk $bk $__ $__ $__ $bk $bk $__ $__ $bk $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $gn $gn $__ $gn $bk $ly $ly $ly $my $my $my $bk $gn $gn $__ $gn $gn $bk $bk $bk $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $bk $bk $ly $ly $my $my $my $bk $bk $__ $gn $gn $gn $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $my $my $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $bk $bk $my $my $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $bk $bk $bk $bk $bk $__ $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $bk $bk $__ $__ $__ $bk $bk $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__
  ),
  (
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $dy $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $ly $ly $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $ly $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $__,
    $__ $bk $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $bk,
    $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $bk $__ $bk $__ $bk $__ $bk $__ $bk $bk $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk,
    $__ $bk $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $bk,
    $__ $__ $bk $bk $bk $gn $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $ly $bk $bk $bk $my $bk $__ $__ $__ $__ $__ $__ $gn $bk $bk $bk $__,
    $__ $__ $__ $__ $__ $gn $gn $gn $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $ly $dy $bk $bk $__ $__ $__ $__ $gn $gn $gn $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $gn $gn $gn $__ $__ $__ $bk $bk $bk $bk $bk $bk $rd $bk $bk $__ $__ $gn $gn $gn $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $gn $__ $bk $rd $rd $rd $rd $rd $bk $my $bk $__ $gn $gn $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $bk $bk $rd $rd $rd $bk $ly $my $bk $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $bk $bk $bk $ly $ly $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $ly $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $ly $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $my $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $__ $__ $__ $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $bk $bk $__ $__ $__ $bk $bk $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__
  ),
  (
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $dy $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $ly $ly $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $ly $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $bk $__ $bk $__ $bk $__ $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $bk $bk $bk $__ $__ $__ $__ $__ $__,
    $__ $bk $__ $__ $bk $bk $__ $__ $__ $__ $bk $my $bk $bk $bk $ly $bk $bk $bk $__ $__ $__ $__ $bk $bk $__ $__ $bk $__ $__ $__ $__ $__,
    $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $bk $bk $dy $ly $ly $ly $ly $ly $bk $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__,
    $__ $bk $__ $__ $bk $bk $__ $__ $__ $__ $bk $bk $rd $bk $bk $bk $bk $bk $bk $__ $__ $__ $__ $bk $bk $__ $__ $bk $__ $__ $__ $__ $__,
    $__ $__ $bk $bk $bk $gn $__ $__ $__ $__ $bk $my $bk $rd $rd $rd $rd $rd $bk $__ $__ $__ $__ $gn $bk $bk $bk $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $gn $gn $__ $__ $__ $bk $my $ly $bk $rd $rd $rd $bk $bk $__ $__ $__ $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $gn $gn $__ $__ $bk $my $ly $ly $bk $bk $bk $ly $bk $__ $__ $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $gn $gn $gn $bk $my $my $ly $ly $ly $ly $ly $bk $gn $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $ly $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $ly $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $my $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $bk $bk $bk $bk $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $__ $__ $__ $__ $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $__ $__ $__ $__ $__ $__ $gn $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $bk $bk $__ $__ $__ $bk $bk $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__
  ),
  (
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $ly $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $ly $ly $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $bk $__ $__ $__ $bk $__ $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $bk $__ $__ $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $bk $__ $__ $__ $bk $__ $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $bk $ly $ly $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $bk $bk $bk $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $bk $rd $rd $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $bk $rd $rd $rd $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $bk $bk $rd $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $ly $ly $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $bk $bk $bk $__ $bk $bk $my $my $ly $ly $ly $ly $bk $__ $__ $__ $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $bk $__ $__ $bk $bk $__ $bk $my $my $ly $ly $ly $ly $bk $bk $__ $bk $bk $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $bk $bk $my $my $ly $ly $ly $ly $bk $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $bk $__ $__ $bk $bk $__ $__ $bk $my $my $my $ly $ly $ly $bk $__ $bk $bk $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $bk $bk $bk $gn $__ $__ $bk $bk $my $my $my $ly $ly $bk $bk $__ $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $__ $gn $bk $bk $my $my $my $ly $ly $bk $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $gn $__ $bk $bk $bk $my $my $bk $bk $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $gn $gn $gn $bk $bk $bk $bk $bk $gn $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $gn $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $bk $bk $__ $__ $__ $bk $bk $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $bk $__ $__ $__ $bk $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__
  ),
  (
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $ly $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $ly $ly $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $bk $__ $__ $__ $bk $__ $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $bk $__ $__ $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $bk $__ $__ $__ $bk $__ $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $bk $ly $ly $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $bk $bk $bk $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $bk $rd $rd $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $bk $rd $rd $rd $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $bk $bk $rd $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $ly $ly $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $bk $bk $bk $__ $__ $__ $bk $my $my $ly $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $bk $bk $bk $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $bk $__ $__ $bk $bk $__ $__ $bk $bk $my $my $ly $ly $ly $ly $bk $__ $__ $__ $__ $bk $bk $__ $__ $bk $__ $__ $__ $__ $__ $__,
    $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $bk $my $my $ly $ly $ly $ly $bk $bk $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $__,
    $__ $__ $bk $__ $__ $bk $bk $__ $__ $__ $bk $bk $my $my $ly $ly $ly $ly $bk $__ $__ $__ $bk $bk $__ $__ $bk $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $bk $bk $bk $gn $gn $__ $gn $gn $bk $my $my $my $ly $ly $ly $bk $gn $__ $gn $gn $bk $bk $bk $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $gn $gn $gn $__ $bk $bk $my $my $my $ly $ly $bk $bk $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $my $my $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $my $my $bk $bk $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $__ $bk $bk $bk $bk $bk $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $bk $bk $__ $__ $__ $bk $bk $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__
  ),
  (
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $dy $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $ly $ly $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $ly $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $__ $__,
    $bk $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $bk $__,
    $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $bk $bk $__ $bk $__ $bk $__ $bk $__ $bk $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__,
    $bk $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $bk $__,
    $__ $bk $bk $bk $gn $__ $__ $__ $__ $__ $__ $bk $my $bk $bk $bk $ly $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $gn $bk $bk $bk $__ $__,
    $__ $__ $__ $__ $gn $gn $gn $__ $__ $__ $__ $bk $bk $dy $ly $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $gn $gn $gn $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $gn $gn $gn $__ $__ $bk $bk $rd $bk $bk $bk $bk $bk $bk $__ $__ $__ $gn $gn $gn $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $__ $bk $my $bk $rd $rd $rd $rd $rd $bk $__ $gn $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $bk $my $ly $bk $rd $rd $rd $bk $bk $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $ly $ly $bk $bk $bk $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $ly $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $ly $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $ly $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $my $ly $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $my $ly $ly $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $my $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $__ $__ $__ $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $bk $bk $__ $__ $__ $bk $bk $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__
  ),
  (
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $dy $dy $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $my $dy $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $ly $ly $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $ly $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $bk $__ $bk $__ $bk $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $bk $bk $bk $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $bk $bk $bk $__ $__,
    $__ $__ $__ $__ $__ $bk $__ $__ $bk $bk $__ $__ $__ $__ $bk $bk $bk $ly $bk $bk $bk $my $bk $__ $__ $__ $__ $bk $bk $__ $__ $bk $__,
    $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $bk $ly $ly $ly $ly $ly $dy $bk $bk $__ $__ $__ $__ $bk $__ $__ $__ $bk $__,
    $__ $__ $__ $__ $__ $bk $__ $__ $bk $bk $__ $__ $__ $__ $bk $bk $bk $bk $bk $bk $rd $bk $bk $__ $__ $__ $__ $bk $bk $__ $__ $bk $__,
    $__ $__ $__ $__ $__ $__ $bk $bk $bk $gn $__ $__ $__ $__ $bk $rd $rd $rd $rd $rd $bk $my $bk $__ $__ $__ $__ $gn $bk $bk $bk $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $__ $__ $__ $bk $bk $rd $rd $rd $bk $ly $my $bk $__ $__ $__ $gn $gn $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $__ $__ $bk $ly $bk $bk $bk $ly $ly $my $bk $__ $__ $gn $gn $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $gn $bk $ly $ly $ly $ly $ly $my $my $bk $gn $gn $gn $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $ly $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $ly $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $ly $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $ly $my $my $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $ly $ly $my $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $my $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $bk $bk $bk $bk $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $gn $__ $__ $__ $__ $gn $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $gn $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $gn $__ $__ $__ $__ $__ $__ $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $__ $__ $__ $bk $bk $__ $__ $__ $bk $bk $__ $__ $__ $bk $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $bk $__ $__ $__ $__ $__ $bk $__ $__ $__ $__ $__ $__ $__ $__,
    $__ $__ $__ $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $bk $bk $bk $bk $bk $bk $__ $__ $__ $__ $__ $__ $__ $__
  );


@function frame-to-box-shadows($frame) {
  $shadows: (); // empty list
  @for $y from 1 through length($frame) {
    $row: nth($frame, $y);
    @for $x from 1 through length($row) {
      $color: nth($row, $x); 
      @if $color != null {
        $shadow: ($x * $pixel-size) ($y * $pixel-size) $color;
        $shadows: append($shadows, $shadow, comma);
      }
    }
  }
  @return $shadows;
}

body { padding: 3em; }

.banana {
  -webkit-animation: pbjtime 0.8s steps(1, start) infinite;
  width: $pixel-size;
  height: $pixel-size;
  position: relative;
  box-shadow: frame-to-box-shadows(nth($frames, 1));
}

@-webkit-keyframes pbjtime {
  $frame-count: length($frames);
  @for $i from 1 through $frame-count {
    #{100% / $frame-count * $i} {
      box-shadow: frame-to-box-shadows(nth($frames, $i));
    }
  }
}
